.wrapper {
    width:100%;
    margin: 1rem 0;
    height:100%;
    display:flex;
    flex-direction:column;
    overflow:hidden;
}

@media (min-width:1000px) {
    .wrapper {
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: center;
    }
}

@media (min-width:1150px) {
    .wrapper {
        justify-content: flex-start;
    }
}