.container {
    background: url('../../images/Backgrounds/Hero2.jpg') no-repeat center/cover;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:center;
    padding:3%;
}

.card {
    background:white;
    padding:3%;
    padding-top:0;
    border-radius:1rem;
    text-align:center;
    box-shadow:.2rem .2rem 2rem black;
    width:80%;
    height:90%;
    max-width:1500px;

}

.title {
    color:white;
    font-size:4rem;
    font-style:italic;
    text-transform: uppercase;
}

.options {
    width:80%;
    margin: 1rem auto;
}