.container-Bg {
    width:100%;
    background:url('../../images/Backgrounds/background.jpg') no-repeat center/ cover;
    
}
.booking-Wrapper {
    display:flex;
    flex-direction:column;
    align-items: center;
    padding: 1%;
    max-width:1700px;
    margin: 0 auto;
    position:relative;
}
.schedule-Wrapper {
    color:white;
    text-align:center;
    border:.2rem dashed rgb(254, 186, 28);
    display:flex;
    flex-direction:column;
    width:100%;
    margin:3% 5%;
}

.top-Heading {
    color:rgb(254, 186, 28);
    font-size:3rem;
    font-style:italic;
}
.top-Heading-Detail {
    color:white;
    text-transform: uppercase;
    font-size:3rem;
    font-weight: bold;
    position:relative;
    padding-bottom:1rem;
}
.top-Heading-Detail::after {
    content:"";
    width:50%;
    height:.4rem;
    background:white;
    position:absolute;
    bottom:0;
    left:25%;
}
.detail-Section {
    margin:1rem 0;
}
.bright-Heading {
    color:rgb(254, 186, 28);
    font-size:1.8rem;
}
.details {
    font-size:1.5rem;
}
.large-Heading {
    font-size:3rem;
}
.form-wrapper{
    display:flex;
    flex-direction:column;
    width:100%;
    padding:3%;
}

.btn {
    width:50%;
    max-width:250px;
    margin: 0 auto;
    outline:none;
    border:.2rem solid black;
    padding:2%;
    border-radius:.5rem;
    background:transparent;
    font-size:1.6rem;
    transition:all 300ms;
}
.btn:hover {
    color:rgb(254, 186, 28);
    background:black;
}

@media (min-width:700px) {
    .top-Heading {
        font-size:3.3rem;
    }
    .top-Heading-Detail {
        font-size:3.3rem;
    }
    .bright-Heading {
        font-size:2rem;
    }
    .details {
        font-size:1.8rem;
    }
    .large-Heading {
        font-size:3.3rem;
    }
}

@media(min-width:1000px) {
    .booking-Wrapper {
        flex-direction:row;
        justify-content: space-between;
    }    
    .top-Heading {
        font-size:3.4rem;
    }
    .top-Heading-Detail {
        font-size:3.4rem;
    }
    .bright-Heading {
        font-size:2rem;
    }
    .details {
        font-size:2rem;
    }
    .large-Heading {
        font-size:3.4rem;
    }
    
}

@media(min-width:1300px) {
    .booking-Wrapper {
        flex-direction:row;
        justify-content: space-between;
    } 
}

@media (min-width:1500px) {
    .top-Heading {
        font-size:3.5rem;
    }
    .top-Heading-Detail {
        font-size:3.5rem;
    }
    .bright-Heading {
        font-size:2.1rem;
    }
    .details {
        font-size:2.1rem;
    }
    .large-Heading {
        font-size:3.5rem;
    }
    
}