.hero-wrapper {
    height:100%;
    position:relative;
    padding:5%;
    background: linear-gradient(to top, rgba(16, 14, 38, 0.113), rgba(16, 14, 38, 0.288)), no-repeat top/ cover url('../../../images/Backgrounds/Hero1.jpg');
}
.heading {
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-end;
    margin-top:8rem;
}
.title1 {
    font-size:3rem;
    color: white;
    font-style:italic;
    letter-spacing:.3rem;
    font-weight:300;
}
.title2 {
    font-size:7rem;
    color:rgb(254, 186, 28);
    font-style:italic;
    font-weight:500;
    margin: 1rem 0;
}

@media (min-width:600px) {
    .title1 {
        font-size:4rem;
    }
    .title2 {
        font-size:7.5rem;
    }
    .texthide span{
        font-size:9rem;
    }
}

@media (min-width:1000px) {
    .title1 {
        font-size:4.5rem;
    }
    .title2 {
        font-size:8rem;
    }
    .texthide span{
        font-size:10rem;
    }
}
@media (min-width:1500px) {
    .title1 {
        font-size:5rem;
    }
    .title2 {
        font-size:9rem;
    }
    .texthide span{
        font-size:12rem;
    }
}

@media (min-width:2000px) {
    .title1 {
        font-size:6rem;
    }
    .title2 {
        font-size:10rem;
    }
    .texthide span{
        font-size:14rem;
    }
}