/* navigation */
body {
    background:white;
    /*rgb(255,242,218 */
}
nav {
    padding:1% 5%;
    display:flex;
    justify-content: space-between;
    background:rgba(74, 78, 81, 0.619);
    color:white;
    align-items:center;
    position:fixed;
    width:100vw;
    z-index:20;
    opacity:0;
    transform:translateY(-100%);
}
.logo {
    width:25%;
    max-width:100px;
}
.logo img {
    max-width:100%;
    max-height:100%;
    display:block;
}
.nav-link > a {
    color:white;
    font-size:1.8rem;
    position:relative;
    padding-bottom:.4rem;
}
.nav-link > a::before {
    content: "";
    width:0;
    height:.2rem;
    background:white;
    position:absolute;
    bottom:0;
    transition: all .3s ease-in;
}
.nav-link > a:hover::before {
    width:100%;
    color:rgb(254,186,28);
    right:0;
}
.links-container {
    display:none;
}

.burger {
    background:transparent;
    color:white;
    font-size:2rem;
    display:block;
    margin:0 15%;
}

.link-wrapper {
    display:none;
}

.link-wrapper.active {
    display:block;
    width:100%;
    background:rgba(0, 0, 0, 0.629);
    color:white;
    position:absolute;
    top:0;
    left:0;
    height:40vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-around;
    
}
.close-icon {
    position:absolute;
    background:transparent;
    top:5%;
    right:17%;
    color:white;
    font-size:2.2rem;
}

@media (min-width:600px) {
    .links-container {
        display:flex;
        justify-content:space-around;
        width:80%;
        padding:0 1.5%;
    }
    .burger {
        display:none;
    }
    .link-wrapper.active {
        display:none;
    }
    .nav-link a {
        font-size:2rem;
    }
}

@media (min-width:1000px) {
    .nav-link a {
        font-size:2.1rem;
    }
} 

@media (min-width:1500px) {
    .nav-link a {
        font-size:2.3rem;
    }
}

@media (min-width:2000px) {
    .nav-link a {
        font-size:2.5rem;
    }
}



/* end of navigation */