/* navigation */
body {
    background:white;
}
.link-wrapper {
    padding:2rem;
    display:flex;
    justify-content: space-between;
    background:rgb(43,44,52);
    color:white;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:20;
    height:60px;
    transition:height 300ms;
}
.progressBar {

    position:absolute;
    height:10px;
    background-color: rgb(254, 186, 28);
    bottom:0;
    left:0;
    right:0;
    z-index:100;
    transform-origin: 0%;
}
.nav-link > a:active {
    color:rgb(254, 186, 28);
}
.activewrapper {
    flex-flow:column nowrap;
    align-items:center;
    justify-content: space-between;
    height:210px;
}

.wrapper {
    width:100%;
    height:20%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logowrapper {
    width:13%;
    max-width:60px;
}
.logowrapper img {
    width:100%;
    max-height:100%;
}
.nav-link > a {
    color:white;
    font-size:1.8rem;
    position:relative;
    padding-bottom:.4rem;
}
.nav-link > a::before {
    content: "";
    width:0;
    height:.2rem;
    background:white;
    position:absolute;
    bottom:0;
    transition: all .3s ease-in;
}
.nav-link > a:hover::before {
    width:100%;
    color:rgb(254,186,28);
    right:0;
}
.links-container {
    height:0;
    width:0;
    display:none;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: space-around;

}
.activewrapper .links-container {
    height:80%;
    width:100%;
    display:flex;
}

.burger {
    color:white;
    font-size:2rem;
    display:block;
}


.close-icon {
    position:absolute;
    background:transparent;
    top:5%;
    right:17%;
    color:white;
    font-size:2.2rem;
}


@media (min-width:600px) {
    .link-wrapper, .link-wrapper.active  {
        height:8vh;
        flex-flow:row nowrap;
    }
    .links-container {
        display:flex;
        justify-content:space-around;
        width:70%;
        padding:0 1.5%;
        flex-flow:row nowrap;
        height:auto;
    }
    .burger {
        display:none;
    }
    .wrapper {
        width:10%;
        order:-1;
    }
    .nav-link a {
        font-size:2rem;
    }
    .logowrapper {
        width:100%;
    }
}

@media screen and (orientation:landscape) and (min-width:600px)  {
    .link-wrapper {
        height:80px;
    }
}

@media (min-width:1000px) {
    .nav-link a {
        font-size:2.1rem;
    }
} 

@media (min-width:1500px) {
    .nav-link a {
        font-size:2.3rem;
    }
}

@media (min-width:2000px) {
    .nav-link a {
        font-size:2.5rem;
    }
}



/* end of navigation */