.gallery-wrapper {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    position:relative;
}

@media (min-width:750px) {
    .gallery-wrapper {
        flex-direction:row;
        align-items: flex-start;
        justify-content: center;
        flex-wrap:wrap;
    }
}

@media (min-width:1500px) {
    .gallery-wrapper {
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;
    }
}