.container {
    display:flex;
    flex-direction:column;
    align-items: center;
    width:100%;
    height:30%;
    margin:2rem 0;
}
.img-wrapper {
    max-width:300px;
}
.img-wrapper img {
    height:100%;
    width:100%;
    border-radius:50%;
    border:1rem solid black;
}
.name {
    font-size:2rem;
}
.position {
    font-size:1.8rem;
    color:rgb(254, 186, 28);
}
.social-list {
    display:flex;
    justify-content: space-around;
    margin: 0 auto;
}
.social-item {
    font-size:3.7rem;
    color:black;
    margin:0 2rem;
    transition:color 300ms;
}
.social-item:hover {
    color:rgb(254, 186, 28);
}
@media (min-width:700px) {
    .name, .description {
        font-size:2.2rem;
    }
    .social-item {
        font-size:3.8rem;
    }
}
@media (min-width:1000px) {
    .name, .description {
        font-size:2.5rem;
    }
    .social-item {
        font-size:4rem;
    }
}