.card {
    width:100%;
    max-width:1200px;
    background:white;
    padding:3%;
    margin: auto;
    border-radius:1rem;
    text-align:center;
    box-shadow:.2rem .2rem 2rem black;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    position:relative;
    transform:translateX(-150%);
}
.card-text {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin:1rem 0;
    padding:1%;
}
.card-text h2 {
    font-size:2rem;
    color:black;
    text-transform: uppercase;
    position:relative;
    text-align:center;
    display:inline;
    padding:.5rem;
    margin:.4rem;
}
.card-text p {
    margin:.2rem 0;
    font-size:1.5rem;
}
.card-text h3  {
    font-size:1.3rem;
    margin:.2rem 0;
    padding:0;
}


.card-text h2::after {
    content:"";
    width:45%;
    height:.4rem;
    position:absolute;
    bottom:0;
    left:0;
    background:rgb(254, 186, 28);
}
.extra {
    display:none;
}
.img-container {
    width:100%;
}

.img-wrapper {
    width:100%;
    height:100%;
    overflow:hidden;
}

.img-wrapper img {
    width:100%;
    height:100%;
    object-fit:cover;
    transition: transform 300ms ease-in;
}
.img-wrapper img:hover {
    transform:scale(1.5);
}
.card-text > div {
    display:none;
}
@media (min-width:700px) {
    .card {
        flex-direction:row;
        padding:0%;
        justify-content: center;
        width:100%;
        height:450px;
    }
    .card-text {
        order:4;
        width:50%;
        height:100%;
    }
    .card-text h2 {
        font-size:2.1rem;
    }
    .card-text h3 {
        font-size:1.5rem;
    }
    .card-text p {
        font-size:1.8rem;
    }
    .img-container {
        width:70%;
        height:100%;
        display:flex;
        align-items:stretch;
    }
    .img-wrapper {
        width:50%;
        height:100%;
        border:.7rem solid rgb(254, 186, 28);
        border-top-left-radius:1rem;
        border-bottom-left-radius:1rem;
    }
    .img-wrapper img {
        min-width:100%;
        min-height:100%;
        display:block;
    }
    .extra {
        width:50%;
        display:block;
        border-left:none;
        border-top-left-radius:0rem;
        border-bottom-left-radius:0rem;
    }
    .extra img {
        object-position:right;
    }
    .card-text img {
        width:100%;
        height:100%;
        object-fit:cover;
        border-radius:50%;

    }
    

    .card-text > div {
        display:block;
        height:15%;
        margin:1rem 0;
        position:absolute;
        top:3%;
        right:3%;
        border-radius:50%;
    }
} 

@media (min-width:1000px) {
    .card {
        height:500px;
    }
    .card-text h2 {
        font-size:3rem;
    }
    .card-text h3 {
        font-size:2rem;
    }
    .card-text p {
        font-size:2.3rem;
    }
}

@media (min-width:1500px) {
    .card {
        height:600px;
    }
    .card-text h2 {
        font-size:3.5rem;
    }
    .card-text h3 {
        font-size:2.2rem;
    }
    .card-text p {
        font-size:2.8rem;
    }
}

@media (min-width:2000px) {
    .card {
        height:650px;
    }
    .card-text h2 {
        font-size:4rem;
    }
    .card-text h3 {
        font-size:2.5rem;
    }
    .card-text p {
        font-size:3.4rem;
    }
}